*{
	box-sizing: border-box;
}
/*NAVEGADOR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 55px;
}

li {
    float: left;
    width:calc(100%/5);
    height: 100%;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:calc(100%/3);
    height: 100%;
    margin-left: 35%;
}

li:hover {
    background-color: #434343;
}

.active {
    background-color: red;
}
/*MENU DESPLEGABLE */
.nav li ul li:hover {
    background-color: #434343;
}
#sublista{
    width: 220px;
}
.nav li ul {
    display: none;
    position:absolute;
    min-width:140px;
    height: 150px;
    z-index: 999;
}

.nav li:hover > ul {
    /*display:block;*/
    display: flex;
    flex-direction: column;
}

.nav ul li ul li{
   position: relative;
}
.sub_li > a{
    color: white;
}
.sub_li{
    width: 230px;
    right:-1000px;
    top:40px;
    display: flex;
}
/*MENU DESPLEGABLE 2*/
.nav li ul li:hover {
    background-color: #434343;
}
#sublista2{
    width: 220px;
    height: 150px;
}
.nav li ul {
    display: none;
    position:absolute;
    min-width:140px;
    z-index: 999;
}

.nav li:hover > ul {
    /*display:block;*/
    display: flex;
    flex-direction: column;
}

.nav ul li ul li{
   position: relative;
}
.sub_li > a{
    color: white;
}
.sub_li{
    width: 230px;
    right:-1000px;
    top:40px;
    display: flex;
}
/* SLIDER */
#slider{
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin: auto;
    margin-top: 15px;
    border: 5px solid black;
    margin-bottom: 15px;
}
#slider ul{
    display: flex;
    width: 300%;
    padding: 0;
    animation: animacion 12s 0.5s infinite normal linear;
    height: 250px;
}
#slider li{
    width: 100%;
    list-style: none;
}
#slider img{
    width: 100%;
    height: 250px;
}


@keyframes animacion{
    0% {margin-left: 0; opacity: 1;}
    20% {margin-left: 0; opacity: 1;}

    25% {margin-left: -100%;}
    35% {margin-left: -100%;}

    40% {margin-left: -200%;}
    55% {margin-left: -200%;}

    60% {margin-left: -100%;}
    75% {margin-left: -100%;}

    80% {margin-left: 0;}
    95% {margin-left: 0;}

    100% {margin-left: 0; opacity: 1;}
    /*100%{margin-left: -300%; opacity: 1;}*/
}
/*SECTION*/
section{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    float: left;
}
article.elemento{
        float:left;
        border:4px solid black;
        border-radius:5px;
        width:32.5%;
        height: 200px;
        padding:15px;
        margin: 5px;
}

/*FOOTER*/
footer{
    margin-top: 10px;
    border: 2px solid black;
    width: 100%;
    height: 220px;
    float: left;
    padding: 10px;
}
/*primer elemento div dentro de el footer*/
footer > div:firs-child{
    float: left;
    width: 45%
}
/*segundo elemento div dentro de el footer*/
footer > div:nth-child(1){
    float: left;
    width: 45%
}
