*{
	box-sizing: border-box;
}
/*NAVEGADOR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width:calc(100%/3);
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:calc(100%/3);
    height: 100%;
    margin-left: 20%;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: red;
}