*{
	box-sizing: border-box;
}
body{
	background-color: lightblue;
}
canvas#canvas{
	border:1px solid black; 
	/*width: 1000px; */
	height: 500px; 
	margin-left: 12%;
	background-color: #9da38c;
}
div#div_canvas{
	padding: 15px; 
	/*border: 1px solid black;*/
}
/*NAVEGADOR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width:calc(100%/3);
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:calc(100%/3);
    height: 100%;
    margin-left: 20%;
}

.nav li :hover {
    background-color: #111;
}

.active {
    background-color: red;
}
/*MENU DESPLEGABLE */

.nav li ul li:hover {
    background-color:#434343;
}
#sublista{
    width: 250px;
}
.nav li ul {
    display: none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav ul li ul li{
   position: relative;
}
.sub_li > a{
    color: red;
}
.sub_li{
    width: 230px;
    right:-1000px;
    top:40px;
    display: flex;
}