*{
	box-sizing: border-box;
}
body{
    background-color: lightblue;
}
/*NAVEGADOR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 55px;
}

li {
    float: left;
    width:calc(100%/5);
    height: 100%;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:calc(100%/3);
    height: 100%;
    margin-left: 35%;
}

li:hover {
    background-color: #434343;
}

.active {
    background-color: red;
}
/*MENU DESPLEGABLE */
.nav li ul li:hover {
    background-color: #434343;
}
#sublista{
    width: 220px;
}
.nav li ul {
    display: none;
    position:absolute;
    min-width:140px;
    height: 150px;
    z-index: 999;
}

.nav li:hover > ul {
    /*display:block;*/
    display: flex;
    flex-direction: column;
}

.nav ul li ul li{
   position: relative;
}
.sub_li > a{
    color: white;
}
.sub_li{
    width: 230px;
    right:-1000px;
    top:40px;
    display: flex;
}
/*MENU DESPLEGABLE 2*/
.nav li ul li:hover {
    background-color: #434343;
}
#sublista2{
    width: 220px;
    height: 100px;
}
.nav li ul {
    display: none;
    position:absolute;
    min-width:140px;
    z-index: 999;
}

.nav li:hover > ul {
    /*display:block;*/
    display: flex;
    flex-direction: column;
}

.nav ul li ul li{
   position: relative;
}
.sub_li > a{
    color: white;
}
.sub_li{
    width: 230px;
    right:-1000px;
    top:40px;
    display: flex;
}
/*TOOL TIP email */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip #tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip #tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
/*
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
*/